main {
    background: linear-gradient(to top, rgba(194, 194, 197, 0.5), rgba(255, 152, 0, 0.4)),
    url("../image/background.jpg") center center no-repeat;
    background-size: cover;
}
header {
    position: absolute;
    top: 10px;
    width: 100%;
}
header .login {
    font-size: 20px;
    float: right;
    margin-right: 20px;
}
.flip-modal {
    display: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 2px 3px 4px rgba(0, 0, 0, 0.2)
}
.modal .close {
    float: right;
}
.modal .tabs {
    text-align: center; 
}
.modal .tabs a {
    display: inline-block;
    margin: 0 10px;
    font-size: 16px;
}
.modal .tabs a.active {
    border-bottom: 2px solid #000;
}
.modal .content {
    margin: 20px 40px;
}
.modal .content .errormsg {
    color: #ff9f13;
}
.modal .content .input-field {
    margin-top: 10px;
    position: relative;
}
.modal .content .input-field .fa  {
    position: absolute;
    left: 13px;
    top: 13px;
}
.modal .content .input-field input[type="text"],
.modal .content .input-field input[type="password"] {
    display: inline-block;
    padding: 10px 10px 10px 28px;
    width: 100%;
}
.modal .content .input-field input[type="submit"] {
    padding: 6px 10px;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.flip-modal.login .modal-login,
.flip-modal.register .modal-register {
    transform: translate(-50%,-50%) rotateY(0deg);
    backface-visibility: hidden;
    transition: all 1s;
}
.flip-modal.login .modal-register,
.flip-modal.register .modal-login {
    transform: translate(-50%, -50%) rotateY(180deg);
    backface-visibility: hidden;
    transition: all 1s;
}

